@media (min-width: 1024px) { 
  #main {
    font-size: 1.2em;
    overflow: hidden;
  }

  .main-image {
    width: 80%;
  }

  .child {
    position: relative;
    top: 50%;
    height: 100vh;
    width: 100%;
    margin-top: -128px; /* account for padding and border if not using box-sizing: border-box; */
    overflow: hidden;
  }

  #main .imgBorder {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
}



.resume-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resume-button:hover {
  background-color: #2980b9;
}

.resume-title {
  margin-top: 10px;
  font-size: 18px;
}